@import '../fonts/fonts.css';
@import '../sass/vars';

@mixin typographyPrimary {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: $primary;
}
@mixin typographySecondary {
  font-family: 'Prata';
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: $primary;
}

@mixin typographyTertiary {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.27em;
  color: #919191;
}
