$containerWidth: 1300px;

//colors
$primary: #303030;
$secondary: #8f8f8f;
$bgColor: #f8f8f8;
$white: #ffffff;
$green: #43807f;
$red: #e24b33;
$gold: #e1a661;
$lightGreen: #a7e492;
//breakpoints
$breakpoint768: 768px;
