@import '../fonts/fonts.css';
* {
  box-sizing: border-box;
}

.wrapper {
  width: 1300px;
  margin: auto;
  padding-top: 24px;
}

.subtitle {
  font-family: "Prata";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  color: #303030;
}

.subtitle-daily {
  margin-bottom: 40px;
}

.header {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #303030;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .col-lg-2 {
  gap: 10px;
  display: flex;
  justify-content: start;
}
.header .col-lg-2:nth-child(n+3) {
  display: flex;
  justify-content: end;
}
.header .col-lg-2:nth-child(n+3) a {
  text-decoration: none;
  color: #303030;
}
.header .col-lg-2:nth-child(n+3) a:hover {
  opacity: 0.5;
  transition: 0.5s;
}
.header .col-lg-2:last-child {
  display: flex;
  gap: 35px;
}
.header .col-lg-3 {
  text-align: center;
}
.header .col-lg-3 p {
  margin-top: 5px;
}
.header .header-title {
  font-family: "Prata";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
}
.header .header-title .header-title-gold {
  color: #e1a661;
}
.header .header-subtitle {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.27em;
  color: #919191;
}
.header .header-button {
  border: none;
  outline: none;
  background-color: #ffffff;
}
.header .header-like-count {
  position: absolute;
  color: #ffffff;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 100%;
  background-color: #e46942;
  border-radius: 50%;
  padding: 3px;
  text-align: center;
  transform: translate(13px, -23px);
}

.navbar {
  background-color: #f8f8f8;
  padding: 25px 50px;
  margin-bottom: 20px;
}
.navbar .navbar-element {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  text-transform: uppercase;
  color: #303030;
}
.navbar .navbar-catalogue {
  opacity: 0.5;
}
.navbar .navbar-search {
  font-size: 14px;
  line-height: 100%;
  color: #a2a2a2;
  margin-left: 140px;
  display: flex;
  gap: 17px;
}

.carousel {
  background-color: #f8f8f8;
  background-image: url("../images/Union.png");
  background-repeat: no-repeat;
  background-position-y: bottom;
  margin-bottom: 120px;
}
.carousel .carousel-offer {
  color: #303030;
  font-family: "Prata";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
}
.carousel .carousel-offer-big {
  font-size: 50px;
}
.carousel .carousel-offer-paddings {
  padding-top: 30px;
  padding-bottom: 54px;
}
.carousel .carousel-btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  background-color: #303030;
  padding: 20px 56px;
  color: #ffffff;
}
.carousel .carousel-points {
  text-align: center;
}
.carousel .carousel-arrow-center {
  display: flex;
  justify-content: center;
}

.popular {
  margin-bottom: 120px;
}
.popular .popular-subtitle {
  font-family: "Prata";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  color: #303030;
  margin-bottom: 40px;
}
.popular .popular-cards {
  gap: 20px;
}
.popular .popular-card {
  background-color: #f8f8f8;
  width: 200px;
  height: 200px;
  border: none;
  border-radius: 0px;
  padding: 0px 25px;
}
.popular .popular-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #303030;
  background-color: #f8f8f8;
  width: 200px;
  height: 59px;
  padding: 10px 25px;
}

.arrows {
  padding: 0;
  text-align: end;
}

.icon {
  border-radius: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  color: #ffffff;
  padding: 4px 8px;
  display: inline-block;
}

.icon-green {
  background-color: #43807f;
}

.icon-gold {
  background-color: #e1a661;
}

.icon-black {
  background-color: #495159;
}

.sale {
  margin-bottom: 120px;
}
.sale .sale-subtitle {
  font-family: "Prata";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  color: #303030;
  margin-bottom: 25px;
}
.sale .sale-buttons {
  margin-bottom: 35px;
}
.sale .sale-btn {
  border-radius: 21px;
  padding: 13px 30px;
  background-color: #f8f8f8;
  color: #303030;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  box-shadow: none;
}
.sale .sale-card-img {
  padding-top: 40px;
  padding-left: 55px;
  padding-right: 55px;
}
.sale .active {
  transition: none;
  background-color: #303030;
  color: #ffffff;
}

.sale-cards {
  gap: 20px;
}

.sale-card {
  width: 310px;
  border: 1px solid #f0f0f0;
  padding: 0;
}

.sale-description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #303030;
  padding-bottom: 26px;
  margin: 0;
}

.sale-price {
  margin-bottom: 16px;
  align-items: end;
}

.sale-element-position {
  margin-top: 16px;
  margin-left: 24px;
  margin-right: 205px;
}

.sale-element-heart {
  display: flex;
  justify-content: end;
}
.sale-element-heart img {
  padding-top: 16px;
  padding-right: 16px;
}

.sale-element-eye {
  display: block;
  position: absolute;
}

.sale-points {
  margin-top: -10px;
  text-align: center;
  margin-bottom: 32px;
}
.sale-points img {
  margin-right: 8px;
}

.prevPrice {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-decoration-line: line-through;
  color: #8f8f8f;
  padding: 0;
}

.newPrice {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: #303030;
}

.discountRing {
  background-color: #e24b33;
  border-radius: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  color: #ffffff;
  padding: 4px 8px !important;
}

.discount {
  margin-bottom: 120px;
}
.discount .discounts-cards {
  justify-content: space-between;
}
.discount .discount-card {
  background-color: #f8f8f8;
  background-position-y: bottom;
  background-image: url("../images/Union3.png");
  background-repeat: no-repeat;
  width: calc(33.3333333333% - 15px);
  padding: 0;
}
.discount .discount-card-overflow {
  overflow: hidden;
  align-items: center;
}
.discount .discount-card-ring {
  background-image: url("../images/gold.png");
  background-repeat: no-repeat;
  background-position-x: right;
  height: 100%;
  background-position-y: bottom;
}
.discount .discount-card-bracelet {
  background-image: url("../images/silver.png");
  background-repeat: no-repeat;
  background-position-x: right;
  height: 100%;
  background-position-y: bottom;
}
.discount .discount-card-emerald {
  background-image: url("../images/green.png");
  background-repeat: no-repeat;
  background-position-x: right;
  height: 100%;
  background-position-y: bottom;
}
.discount .discount-card-description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  text-transform: uppercase;
  color: #303030;
  padding-top: 72px;
  padding-left: 27px;
  padding-bottom: 22px;
}
.discount .discount-card-percentage {
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 160%;
  padding: 0 26px;
  max-width: fit-content;
  margin-bottom: 48px;
}
.discount .discount-card-percentage .discount-card-small {
  font-size: 24px;
}
.discount .discount-card-percentage-gold {
  background-color: #e1a661;
}
.discount .discount-card-percentage-red {
  background-color: #e24b33;
}
.discount .discount-card-percentage-green {
  background-color: #43807f;
}

.daily .daily-icons {
  gap: 4px;
  padding-left: 16px;
  position: absolute;
  padding-top: 16px;
}
.daily .daily-icon {
  max-width: fit-content;
}
.daily .daily-product {
  margin-right: 50px;
}
.daily .daily-subtitle {
  font-size: 32px;
  margin-bottom: 20px;
}
.daily .daily-product-description {
  width: calc(50% - 50px);
}
.daily .daily-star-padding {
  padding-right: 10px;
}
.daily .daily-rate {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #303030;
}
.daily .daily-stars {
  margin-bottom: 24px;
}
.daily .daily-vendor {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  margin-bottom: 36px;
  color: #8f8f8f;
}
.daily .daily-price {
  gap: 16px;
  align-items: end;
  padding-left: 12px;
}
.daily .daily-price-element {
  max-width: fit-content;
  padding: 0%;
}
.daily .daily-time {
  background-color: #f8f8f8;
  padding: 14px 12px;
  justify-content: center;
  align-items: center;
}
.daily .daily-time span {
  max-width: fit-content;
}
.daily .daily-time-hours {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 100%;
  text-align: center;
  color: #303030;
  background-color: #ffffff;
  border: 1px solid #d0d0d0;
  max-width: fit-content;
}
.daily .daily-time-hours .daily-time-hours-digit {
  font-weight: 700;
  font-size: 16px;
  padding-top: 6px;
}
.daily .daily-border {
  border-top: 1px solid #f0f0f0;
  margin-bottom: 30px;
}
.daily .daily-feature {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  color: #303030;
  padding: 0;
  max-width: fit-content;
}
.daily .daily-feature-margin {
  margin-bottom: 16px;
}
.daily .daily-measures {
  gap: 8px;
  margin-bottom: 40px;
}
.daily .daily-measure {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #dadada;
  background: none;
}
.daily .daily-measure:hover {
  border: 1px solid #303030;
}
.daily .daily-measure-active {
  background-color: #303030;
  color: #ffffff;
}
.daily .daily-measure-disabled {
  opacity: 0.3;
  pointer-events: none;
}
.daily .daily-size {
  gap: 8px;
  align-items: baseline;
  margin-bottom: 15px;
}
.daily .daily-feature-bg {
  background-color: #f8f8f8;
  border-radius: 50%;
  max-width: fit-content;
  padding: 3px 6px;
  text-align: center;
}
.daily .daily-color-buttons {
  gap: 8px;
  margin-bottom: 30px;
}
.daily .daily-color-btn-border {
  border: 1px solid #dadada;
  padding: 4px;
  max-width: fit-content;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.daily .daily-color-btn-border:hover {
  border: 1px solid #303030;
  transition: 0.2s;
}
.daily .daily-color-btn {
  outline: none;
  text-decoration: none;
  border-radius: 50%;
  padding: 12px;
  max-width: fit-content;
  border: none;
}
.daily .active {
  border: 1px solid #303030;
}
.daily .daily-color-btn-grey {
  background-color: #d9d9d9;
}
.daily .daily-color-btn-gold {
  background-color: #f1cb7e;
}
.daily .daily-color-btn-orange {
  background-color: #ea8c48;
}
.daily .daily-color-btn-lightGreen {
  background-color: #a7e492;
}
.daily .daily-purchase-btns {
  margin-bottom: 130px;
}
.daily .daily-purchase-btn {
  padding-top: 21px;
  padding-bottom: 21px;
  outline: none;
  border: 1px solid #303030;
  color: #303030;
  background-color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
}
.daily .daily-purchase-items {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  color: #303030;
  gap: 10px;
  align-items: center;
  margin-bottom: 15px;
}
.daily .daily-purchase-items img {
  max-width: fit-content;
}
.daily .daily-purchase-margin {
  margin-right: 40px;
}
.daily .daily-purchase-btn-active {
  background-color: #303030;
  color: #ffffff;
}
.daily .daily-purchase-btn:first-child {
  margin-bottom: 10px;
}

.article {
  margin-bottom: 40px;
}

.articles {
  margin-bottom: 120px;
}

.article-read {
  display: inline;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  color: #303030;
  margin-right: 10px;
}

.article-date {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #8f8f8f;
  padding-top: 20px;
  padding-bottom: 12px;
}

.article-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #303030;
  margin: 0;
}

@media (max-width: 768px) {
  .header {
    display: block;
    margin: auto;
  }
  .header .col-md-12 {
    justify-content: center;
    margin-bottom: 30px;
  }
  .header .col-md-12:nth-child(3) {
    justify-content: center;
    margin-bottom: 30px;
    animation: show 2s;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .header .col-md-12:nth-child(n+3) {
    justify-content: center;
  }
  .header .header-title {
    font-size: 40px;
  }
  @keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .header .header-bg {
    color: #e1a661;
    animation: show 2s;
  }
}

/*# sourceMappingURL=styles.css.map */
