@import '../fonts/fonts.css';
* {
  box-sizing: border-box;
}

.wrapper {
  width: 1300px;
  margin: auto;
  padding-top: 24px;
}

.header {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #303030;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .col-lg-2 {
  gap: 10px;
  display: flex;
  justify-content: start;
}
.header .col-lg-2:nth-child(n+3) {
  display: flex;
  justify-content: end;
}
.header .col-lg-2:nth-child(n+3) a {
  text-decoration: none;
  color: #303030;
}
.header .col-lg-2:nth-child(n+3) a:hover {
  color: #e1a661;
  transition: 0.5s;
}
.header .col-lg-2:last-child {
  display: flex;
  gap: 35px;
}
.header .col-lg-3 {
  text-align: center;
}
.header .col-lg-3 p {
  margin-top: 5px;
}
.header .header-title {
  font-family: "Prata";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
}
.header .header-title .header-title-gold {
  color: #e1a661;
}
.header .header-subtitle {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.27em;
  color: #919191;
}
.header .header-button {
  border: none;
  outline: none;
  background-color: #ffffff;
}
.header .header-like-count {
  position: absolute;
  color: #ffffff;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 100%;
  background-color: #e46942;
  border-radius: 50%;
  padding: 3px;
  text-align: center;
  transform: translate(13px, -23px);
}

.navbar {
  background-color: #f8f8f8;
  padding: 25px 50px;
  margin-bottom: 20px;
}
.navbar .navbar-element {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  text-transform: uppercase;
  color: #303030;
}
.navbar .navbar-catalogue {
  opacity: 0.5;
}
.navbar .navbar-search {
  font-size: 14px;
  line-height: 100%;
  color: #a2a2a2;
  margin-left: 140px;
  display: flex;
  gap: 17px;
}

.carousel {
  background-color: #f8f8f8;
  background-image: url("../images/Union.png");
  background-repeat: no-repeat;
  background-position-y: bottom;
  margin-bottom: 120px;
}
.carousel .carousel-offer {
  color: #303030;
  font-family: "Prata";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
}
.carousel .carousel-offer-big {
  font-size: 50px;
}
.carousel .carousel-offer-paddings {
  padding-top: 30px;
  padding-bottom: 54px;
}
.carousel .carousel-btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  background-color: #303030;
  padding: 20px 56px;
  color: #ffffff;
}
.carousel .carousel-points {
  text-align: center;
}
.carousel .carousel-arrow-center {
  display: flex;
  justify-content: center;
}

.popular {
  margin-bottom: 120px;
}
.popular .popular-subtitle {
  font-family: "Prata";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  color: #303030;
  margin-bottom: 40px;
}
.popular .popular-cards {
  gap: 20px;
}
.popular .popular-card {
  background-color: #f8f8f8;
  width: 200px;
  height: 200px;
  border: none;
  border-radius: 0px;
  padding: 0px 25px;
}
.popular .popular-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #303030;
  background-color: #f8f8f8;
  width: 200px;
  height: 59px;
  padding: 10px 25px;
}

.sale {
  margin-bottom: 120px;
}
.sale .sale-subtitle {
  font-family: "Prata";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  color: #303030;
  margin-bottom: 25px;
}
.sale .sale-buttons {
  margin-bottom: 35px;
}
.sale .sale-btn {
  border-radius: 21px;
  padding: 13px 30px;
  background-color: #f8f8f8;
  color: #303030;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  box-shadow: none;
}
.sale .sale-card-img {
  padding-top: 40px;
  padding-left: 55px;
  padding-right: 55px;
}
.sale .active {
  transition: none;
  background-color: #303030;
  color: #ffffff;
}
.sale .sale-arrows {
  padding: 0;
  text-align: end;
}
.sale .sale-arrows img {
  gap: 8px;
}
.sale .sale-cards {
  gap: 20px;
}
.sale .sale-card {
  width: 310px;
  border: 1px solid #f0f0f0;
  padding: 0;
}
.sale .sale-description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #303030;
  padding-bottom: 26px;
  margin: 0;
}
.sale .sale-price {
  margin-bottom: 16px;
  align-items: end;
}
.sale .sale-discount {
  background-color: #e24b33;
  border-radius: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  color: #ffffff;
  padding: 4px 8px;
}
.sale .sale-element {
  background-color: #5b8a8f;
  border-radius: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  color: #ffffff;
  padding: 4px 8px;
  margin-top: 16px;
  margin-left: 24px;
  display: inline-block;
  margin-right: 205px;
}
.sale .sale-element-heart {
  display: flex;
  justify-content: end;
}
.sale .sale-element-heart img {
  padding-top: 16px;
  padding-right: 16px;
}
.sale .sale-element-eye {
  display: block;
  position: absolute;
}
.sale .sale-prevPrice {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-decoration-line: line-through;
  color: #8f8f8f;
  padding: 0;
}
.sale .sale-newPrice {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: #303030;
}
.sale .sale-points {
  margin-top: -10px;
  text-align: center;
  margin-bottom: 32px;
}
.sale .sale-points img {
  margin-right: 8px;
}

.discount {
  margin-bottom: 120px;
}
.discount .discounts-cards {
  justify-content: space-between;
}
.discount .discount-card {
  background-color: #f8f8f8;
  background-image: url("../images/Union2.png");
  background-repeat: no-repeat;
  width: calc(33.3333333333% - 15px);
}
.discount .discount-card-overflow {
  overflow: hidden;
  align-items: center;
}
.discount .discount-description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  text-transform: uppercase;
  color: #303030;
}

@media (max-width: 768px) {
  .header {
    display: block;
    margin: auto;
  }
  .header .col-md-12 {
    justify-content: center;
    margin-bottom: 30px;
  }
  .header .col-md-12:nth-child(3) {
    justify-content: center;
    margin-bottom: 30px;
    animation: show 2s;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .header .col-md-12:nth-child(n+3) {
    justify-content: center;
  }
  .header .header-title {
    font-size: 40px;
  }
  @keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .header .header-bg {
    color: #e1a661;
    animation: show 2s;
  }
}

/*# sourceMappingURL=styles.css.map */
